*.pyc
*-data/*
*~
.env
.DS_Store
*.bbl
*.blg
*.log
*.out
*.aux
*.synctex.gz
*.zip
*.ckpt
./snli-data
*.parse_log
*.ckpt_best
./writing/gist/gist.pdf
*.fls
*.fdb_latexmk
!checkpoints/*

writing/gist/gist.pdf

*.fls

*.fdb_latexmk

writing/gist/gist.fls

writing/gist/gist.fdb_latexmk

writing/gist/gist.fls

writing/hard_stack_paper/paper.pdf
